*{
  border: 0;
  padding: 0;
  background-color: #222;
}


.animes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;
  background-color: #222;
  color: #fff;
  
}

.animes-list img {
  max-width: 100%;
  box-shadow: 10px 5px 5px rgb(83, 82, 82);
}

.animes-list img:hover{
  max-width: 110%;
  transition: 0.3s;
}
.logo {
  display: cover;
  min-width: 100%;
  margin-top: 0px;
  max-height: 700px;
}

.nav{
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #222;
  color: #fff;
}

.nav-input {
  outline: none;
  border: none;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  margin-top: -100px;
  text-transform: uppercase;
  
}
.span {
  color: #fff;

}

.h1 {
  text-align: center;
  height: 60px;
  margin-bottom: 0;
  color: #FFBF00;
}